<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

    <title>Flask + TailwindCSS + Flask-Assets</title>
</head>

<body class="bg-blue-100">
    <header class="flex items-center justify-around bg-slate-400">
        <h1 class="">Room-3</h1>
        <p id="what-we-do">What We Do</p>
        <button class="text-2xl">Get Started</button>
    </header>
    <div class="w-full h-40" 
        style="background-image: url('https://images.pexels.com/photos/2159065/pexels-photo-2159065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        <p class="text-3xl text-blue">Py Shop</p>
    </div>
    <div>
        <p class="text-2xl text-green">whatever</p>
        <p class="text-base ...">The quick brown fox ...</p>
    </div>
    {% block content %}
    {% endblock content %}
</body>

</html>