<div class="container">
    <div class="container row">
        <div class="container col bg-dark m-3">
            <h2 class="text-primary m-2">Register</h2>
            <form action="/register" method="post">
                <div class="form-group m-2">
                    <label class="form-label text-light">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{session['first_name']}}">
                    {% with messages = get_flashed_messages(category_filter=['first_name']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group m-2">
                    <label class="form-label text-light">Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{session['last_name']}}">
                    {% with messages = get_flashed_messages(category_filter=['last_name']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group m-2">
                    <label class="form-label text-light">Email Address</label>
                    <input type="text" class="form-control" name="email" value="{{session['email']}}">
                    {% with messages = get_flashed_messages(category_filter=['email']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group m-2">
                    <label class="form-label text-light">Password</label>
                    <input type="password" class="form-control" name="password">
                    {% with messages = get_flashed_messages(category_filter=['password']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group m-2">
                    <label class="form-label text-light">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password">
                    {% with messages = get_flashed_messages(category_filter=['confirm_password']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <button class="btn btn-primary m-2">Register</button>
            </form>
        </div>
        <div class="container col bg-dark m-3">
            <h2 class="text-success m-2">Login</h2>
            <form action="/login" method="post">
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-danger">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label class="form-label text-light">Email:</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="" class="form-label text-light">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success m-2">Login</button>
            </form>
        </div>
    </div>
</div>

